body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    
    
}

.header{
    background-color: rgb(4, 4, 44);
    width: 100%;
    margin: 20 auto;
           }

   .img-logo{
    width: 100px;
    border-radius: 100px;
   }

   .header img:hover{
    transform:scale(1.05)
}

.navegacion {
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    row-gap: 3em;
    column-gap: 7em;
    
}

.anime{
    margin-bottom: 30px;
}

.imagen-portada img{
    height: 260px;
    width: auto;
    object-fit:fill;
    border-radius: 10px;
    margin-bottom: 10px;
}

.titulo-anime h3{
    
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
}

.titulo-anime{
    text-align: center;
    font-size: 14px;
}

.botones_siguiente_atras{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    
}

.numeracion{
    background-color: rgb(136, 132, 132);
    color:aliceblue;
    border: 10px;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    font-size: 2em;
    text-align: center;
    margin: 0 15px;
}

.numeracion p{
    text-decoration: none;
    color:aliceblue;
}

.boton_izquierdo{
    background-color: rgb(136, 132, 132);
    color:aliceblue;
    border: 10px;
    border-radius: 20px;
    width: 55px;
    height: 65px;
    font-size: 2.5em;
    text-align: center;
    margin: 0 15px;
    
}

.boton_derecho{
    background-color: rgb(136, 132, 132);
    color:aliceblue;
    border: 10px;
    border-radius: 20px;
    width: 55px;
    height: 65px;
    font-size: 2.5em;
    text-align: center;
    margin: 0 15px;
}